
div {
    display: flex;
    width: 100%;
    padding: 5px;
}


table {
    display: flexbox;
    margin: auto;
    justify-content: center;
    background-color: rgb(163, 255, 163);
    border: 2px #000 solid;
}

.wrapper {
    display: grid; 
    margin-top: -9em;
    grid-template-columns: 8em 1fr 50% 1fr 8em; 
    grid-template-rows: 4em 10fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . ."
      ". . . . ."
      ". . . . ."; 
      }
      


#left {
    transform-origin: top left;
    transform: rotate(-90deg);
    font-size: 10rem;
    grid-column: 1;
    grid-row: 1;
    grid-auto-flow: column;
    font-family: 'Righteous', cursive;
}

#right {
    transform-origin: top right;
    margin-top: -4.2em;
    transform: rotate(90deg);
    font-size: 10rem;
    grid-column: 5;
    grid-row: 1;
    grid-auto-flow: column;
    font-family: 'Righteous', cursive;
}


container {
    box-sizing: border-box;
width: 100%;
}

.cell {
    width: 20vw;
    height: 20vh;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    background-image: url('https://i.ibb.co/1sytDmb/moleholefin.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
  }
  
  .mole {
    background-image: url('/purpglittermole.png');
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
 .time-up {
    margin: 0 auto;
    justify-content: center;
  }

  .time-left, .time-up {
    font-family: 'VT323', monospace;
    color: rgb(11, 255, 125);
    margin: 0 auto;
    border: 5px solid rgb(0, 0, 0);
    background-color: #adadad;
    border-radius: 5px;
    text-align: center;
    width: 79%;
}

.time-up {
    display: none;
    font-size: 2rem;
    padding: 10px;
    width: 80%;
}

.time-left {
    justify-content: center;
    width: 73.3%;
    padding: 60px;
    font-size: 5rem;
}

button  {
    font-family: 'VT323', monospace;
    color: rgb(11, 255, 125);
    display: flex;
    margin: 0 auto;
    width: 82%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    border: 5px solid rgb(0, 0, 0);
    background-color: #adadad;
}

button:hover {
    background-color: #525151;
}
/* WHACKAMOLE on either side of the game */
