* {
  cursor: url("/mallet2.png"), auto !important;
}

body {
  background-color: #ffd3eb;
  overflow-x: hidden;
  justify-content: center;
}

#top {
  font-family: 'Righteous', cursive;
  text-shadow: -20px -15px #000;
  color: #ffd3eb;
  font-size: 10rem;
  white-space: nowrap;
  position:relative;
  display: flex;
  justify-content: center;
  margin: 0 25% 0 25%;

}

div {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}


table {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  background-color: rgb(163, 255, 163);
  border: 5px #000 double;
  border-radius: 15px;
  width: 80vw;
  height: 80vh;
}


.wrapper {
  width: calc(80vw + 200px); /* adjust width to fit the table and headers */
  height: 80vh;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    }
    


#left {
  font-family: 'Righteous', cursive;
  text-shadow: -20px -10px #000;
  color: #ffd3eb;
  transform: rotate(-90deg);
  transform-origin: left top;
  font-size: 8rem;
  white-space: nowrap;
  position: absolute;
  display: flex;
  /* margin: -20px -10px; */
  top: 800px;
  left: 20px; 
}

#right {
  text-shadow: -20px -10px #000;
  color: #ffd3eb;
  letter-spacing: -2px;
  font-family: 'Righteous', cursive;
    transform: rotate(90deg);
    transform-origin: right top;
    font-size: 8rem;
    white-space: nowrap;
    position: absolute;
    top: 800px;
    right: 20px; 
}


.cell {
  width: 20vw;
  height: 20vh;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  background-image: url('https://i.ibb.co/1sytDmb/moleholefin.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

.mole {
  background-image: url('moles/mole1.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}


.time-left, .time-up {
  font-family: 'VT323', monospace;
  text-align: center;
  /* padding: 10px; */
}

.time-left, .time-up, button {
  border: 2px #000 double;
  background-image: url("moles/overlay.png");
  background-size: cover;
  font-family: 'VT323', monospace;
  background-color: rgb(131, 131, 131);
  display: block;
  width: 80vi;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.time-up {
  display: none;
  font-size: 2rem;
  color: #f1b3fb;
  margin: 0 auto;
  justify-content: center;

}

.time-left {
  font-size: 6rem;
  padding: 30px;
}

.start {
  letter-spacing: .5vw;
  font-size: 3rem;


}

.replay {
  margin-block-end: 7px;
  font-size: 1.5rem;


}


/* WHACKAMOLE on either side of the game */

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  display: flex;
  justify-content: center;
  align-content: center;
	/* box-shadow: 0px 10px 10px #57aba7, 0px -10px 25px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa; */
  font-size: 2rem;
  padding: 10 px;
	/* transition: 500ms; */
  background-color: rgb(136, 135, 135);
}

button:hover {
  animation: hueRotation .5s linear infinite;
}

.mole:hover {
  animation: hueRotation 1s linear infinite, shake 0.75s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% { transform: translate(5px, 1px) rotate(0deg); }
  10% { transform: translate(5px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(6px, 2px) rotate(0deg); }
  40% { transform: translate(-3px, -1px) rotate(1deg); }
  50% { transform: translate(3px, 2px) rotate(-1deg); }
  60% { transform: translate(-4px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(4px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.time-left, button {
  color: rgb(163, 255, 163);
}

@keyframes hueRotation {
  to {filter: hue-rotate(360deg);}
}  

button:focus {
	outline: none;
}

#hidden {
  display: none;
}



@media screen and (max-width: 900px) {

  #right, #left {
    display: none;
  }

  #top {
    font-size: 6rem;
    text-shadow: -10px -10px #000;
  }

  body {
    height: 100vh;
    max-height: 100%;
    overscroll-behavior-y: none;
  }

  #hidden {
    display: flex;
    text-shadow: -10px -10px #000;
    color: #ffd3eb;
    letter-spacing: -2px;
    font-family: 'Righteous', cursive;
      font-size: 6rem;
      position: relative;
      margin: 0 auto;
      justify-content: center;
  }

}

/* For screens less than 600px */
@media screen and (max-width: 600px) {


  #left, #right {
    display: none;
  }

  #top {
    font-size: 5rem;
    text-shadow: -10px -10px #000;
  }

  .time-left {
    font-size: 3rem;
    padding: 30px;
  }
  #hidden {
    display: flex;
    color: #ffd3eb;
    text-shadow: -10px -10px #000;
    color: #fff;
    letter-spacing: -2px;
    font-family: 'Righteous', cursive;
      font-size: 5rem;
      position: relative;
      margin: 0 auto;
      justify-content: center;
  }

}
@media screen and (max-height: 600px) {



 #left, #right {
    display: none;
  }

  .time-left {
    font-size: 4rem;
    padding: 30px;
  }
}



